<h3 class="text-center mt-4">Created links : </h3>

<p class="text-center mt-3">These links created by users</p>

<% if @links.length == 0 %>
    <h6 class="text-center mt-4">There is not any link. You can create one</h6>
<% end %>

<div class="d-flex flex-row gap-3 mt-4 mb-4 ms-3 flex-wrap justify-content-center">
    <% @links.each do |link| %>
    <div class="d-flex flex-column align-items-center pt-3 rounded" style="height: 150px; width: 170px; border: 1px solid #000;">
      <h6 class="text-center">full url :</h6>
      <h6 class="text-center"><%= link.full_url %></h6>

      <div class="d-flex flex-row gap-1 align-items-center mt-1">
        <a href=<%= root_url + "link/" + link.short_link %>><button class="btn btn-success mt-3">Visit</button></a>
      </div>
    </div>
  <% end %>
</div>

<br /><br /><br /><br /><br />