<h1 class="text-center mt-5">Dashboard</h1>

<h6 class="text-center mt-1">Welcome , <%= @username %></h6>

<div class="d-flex flex-row gap-3 align-items-center justify-content-center mt-4 mb-5">
    <a href="/links/add"><button class="btn btn-success">Create link</button></a>
    <a href="/logout"><button class="btn btn-warning">Logout</button></a>
    <%= form_with method: :post , url: delete_account_path do |form| %>
        <%= form.submit "Delete account" , class: "btn btn-danger" %>
    <%end%>
    <a href="/change-password"><button class="btn btn-primary">Change password</button></a>
</div>

</div>

<br /><br /><br /><br /><br /><br /><br />